/* colors */

* {
  al:      #302D41ff;
  bg:      #302D41ff;
  se:      #F2CDCDff;
  fg:      #FEFFF1ff;
  ac:      #B5E8E0ff;
  red:     #F2CDCDff;
  green:   #ABE9B3ff;
  yellow:  #FAE3B0ff;
  blue:    #96CDFBff;
  purple:  #DDB6F2ff;
  cyan:    #89DCEBff;
}
